

*{
  margin: 5px;

}
.ml-2, .mx-2 {
    margin-left: -56px !important;
}
.ml-2, .mx-2 {
    margin-right: 2.5rem !important;
}

h1, p {
  font-family: Lato;
}

.cart {
    background-color: #fff;
    padding: 21px;
    padding-bottom: 65px;
   
}

.cursor{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.alert{
  margin-bottom: 3px;
}

.cart-header{
  background-color: #e0dbdb9c;
   padding: 9px;
}

.cart-reset{
  margin-top: 10px;
  margin-right: 10px;
}

.desc
{
  text-align: center;
}
.incr
{
  margin-top: 0px;
}
h5
{
  width: 85%;
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 723px !important;
}
}
@media (max-width: 768px)
{
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
.line::after
{
border: 1px solid #00000070;
    height: 1px;
}