

*{
  margin: 5px;

}
.ml-2, .mx-2 {
    margin-left: -56px !important;
}
.ml-2, .mx-2 {
    margin-right: 2.5rem !important;
}

h1, p {
  font-family: Lato;
}

.cart {
    background-color: #fff;
    padding: 21px;
    padding-bottom: 65px;
   
}

.cursor{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.alert{
  margin-bottom: 3px;
}

.cart-header{
  background-color: #e0dbdb9c;
   padding: 9px;
   margin: 0px;
}

.cart-reset{
  margin-top: 10px;
  margin-right: 10px;
}

.desc
{
  text-align: center;
}
.incr
{
  margin-top: 0px;
}
h5
{
  width: 85%;
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 723px !important;
}
}
@media (max-width: 768px)
{
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
.btn-success {
    color: #fff;
    background-color: #a5545b !important;
    border-color: #a5545b !important;
}
.line
{
border: 1px solid #00000070 !important;
height: 1px !important;
}
.checkout
{
  float: right;
  background-color: #a5545b;
  border-color:#a5545b;
}
.modal-backdrop
{
  z-index:999 !important;
}
.mod
{
  float: right;
    background-color: #a5545b;
    border-color: #a5545b;
}
.btn-primary {
  float: right;
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}