

*{
  margin: 5px;

}
.ml-2, .mx-2 {
    margin-left: -56px !important;
}
.ml-2, .mx-2 {
    margin-right: 2.5rem !important;
}

h1, p {
  font-family: Lato;
}

.cart {
    background-color: lightsteelblue;
    padding: 21px;
    padding-bottom: 65px;
    width: fit-content;
}

.cursor{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.alert{
  margin-bottom: 3px;
}

.cart-header{
  background-color: beige;
      position: fixed;
    width: 86.6%;
    margin-top: 530px;
    margin-left: -15px;
}

.cart-reset{
  margin-top: 10px;
  margin-right: 10px;
}

.desc
{
  text-align: center;
}